@using KyleTanczos.TestKyle.Web.Areas.Mpa.Controllers

@model PcrForm


<style type="text/css">
    .custom-menu-nav .divider {
        margin: 2px;
    }

    .form-group {
        margin-bottom: 0 !important;
    }

    .portlet {
        margin-bottom: 15px !important;
    }

    .portlet-form .form-body, .form .form-body {
        padding: 20px;
    }
    /* fix right side margins */
    .page-container {
        padding-right: 30px !important;
    }
    /*get read of padding at top of page*/
    .page-content-wrapper .page-content {
        padding-top: 0 !important;
    }

    .time-control {
        padding: 6px !important;
    }

    .form {
        padding-left: 10px;
    }

    .noPaddingImportant {
        padding: 0 !important;
    }

    .minimalPaddingImportant {
        padding: 3px !important;
    }

    .onlyLeftPaddingImportant {
        padding-bottom: 0 !important;
        padding-left: 10px !important;
        padding-right: 0 !important;
        padding-top: 0 !important;
    }
</style>

@*<script type="text/javascript" src="~/libs/aaaCustom/JavaScript.js"></script>*@

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>


@*<a onclick="TestDefaultDispositions();" href="#">click me</a>*@




<div id="mainApp" data-ng-app="myApp" data-ng-controller="myCtrl"  >
    <input type="text" data-ng-model="pcr.GuardianAddress.autocomplete" ng-autocomplete details="details" />



    @foreach (Tab tab in Model.Tabs)
    {
        @Html.Partial("Controls/" + @tab.PartialTemplateName, tab);
    }

    {{greg}} {{E20_10}} {{E08_02}} {{E07_33}} <br/><br/> {{pcr}}
    <button type="button" id="saveButton" ng-click="SaveCurrentPcr()" >Save</button>
    <button type="button" id="saveButton" ng-click="LoadPcrArray()" >GetList</button>

    <hr />

    <table>

        <tr ng-repeat="pcr in pcrArray">
            <td>{{pcr.offlineId}}</td>
            <td>{{pcr.E02_20}}</td>
            <td><button ng-click="Load($index)">Load</button></td>
            <td><button ng-click="Delete($index)">Delete</button></td>
        </tr>

    </table>

    @*<button ng-click="DeleteAllPcrs()">Delete All</button>*@

</div>



<script>
    SetStorageObject = function (key, value) {
        localStorage.setItem(key, JSON.stringify(value))
    }

    GetStorageObject = function (key) {
        return JSON.parse(localStorage.getItem(key));
    }
</script>




<script type="text/javascript" src="~/Areas/Mpa/Angular/Controllers/PcrFormController.js"></script>