@using KyleTanczos.TestKyle.Web.Areas.Mpa.Controllers

@model PcrForm


<style type="text/css">
    .custom-menu-nav .divider {
        margin: 2px;
    }

    .form-group {
        margin-bottom: 0 !important;
    }
    
    .portlet {
        margin-bottom: 15px !important;
    }
    
    .portlet-form .form-body, .form .form-body 
    {
        padding: 20px;
    }
    /* fix right side margins */
    .page-container {
        padding-right: 30px !important;
    }
/*get read of padding at top of page*/
    .page-content-wrapper .page-content
    {
        padding-top: 0 !important;
    }

    .time-control
    {
        padding : 6px !important;
    }
    .form
    {
        padding-left : 10px;
    }
    .noPaddingImportant
    {
        padding : 0 !important;
    }

    .minimalPaddingImportant
    {
        padding : 3px !important;
    }

    .onlyLeftPaddingImportant
    {
        padding-bottom : 0 !important;
        padding-left : 10px !important;
        padding-right:  0 !important;
        padding-top: 0 !important;
    }

</style>


<div>
    @foreach (Tab tab in Model.Tabs)
    {
        @Html.Partial("Controls/Tab", tab);
    }
</div>



