@model int




@*@Html.Partial("Controls/Textbox", 7);*@

<div class="row">
    <div class="col-md-6">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Patient Information
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="horizontal-form">
                    <div class="form-body">

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">First Name</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="Chee Kin">

                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Last Name</label>
                                    <input type="text" id="lastName" class="form-control" placeholder="Lim">

                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Gender</label>
                                    <select class="form-control">
                                        <option value="">Male</option>
                                        <option value="">Female</option>
                                    </select>

                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Date of Birth</label>
                                    <input type="text" class="form-control" placeholder="dd/mm/yyyy">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                    
                

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>State</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Post Code</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Country</label>
                                    <select class="form-control">
                                        <option value=""></option>
                                        <option value="China">China</option>
                                        <option value="USA">USA</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>



    <div class="col-md-6">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Patient Information
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="horizontal-form">
                    <div class="form-body">

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">First Name</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="Chee Kin">

                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Last Name</label>
                                    <input type="text" id="lastName" class="form-control" placeholder="Lim">

                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Gender</label>
                                    <select class="form-control">
                                        <option value="">Male</option>
                                        <option value="">Female</option>
                                    </select>

                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Date of Birth</label>
                                    <input type="text" class="form-control" placeholder="dd/mm/yyyy">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->



                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>State</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Post Code</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Country</label>
                                    <select class="form-control">
                                        <option value=""></option>
                                        <option value="China">China</option>
                                        <option value="USA">USA</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Patient Information
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="horizontal-form">
                    <div class="form-body">

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">First Name</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="Chee Kin">

                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Last Name</label>
                                    <input type="text" id="lastName" class="form-control" placeholder="Lim">

                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Gender</label>
                                    <select class="form-control">
                                        <option value="">Male</option>
                                        <option value="">Female</option>
                                    </select>

                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Date of Birth</label>
                                    <input type="text" class="form-control" placeholder="dd/mm/yyyy">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->



                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>State</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Post Code</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Country</label>
                                    <select class="form-control">
                                        <option value=""></option>
                                        <option value="China">China</option>
                                        <option value="USA">USA</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Patient Information
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="horizontal-form">
                    <div class="form-body">

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">First Name</label>
                                    <input type="text" id="firstName" class="form-control" placeholder="Chee Kin">

                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Last Name</label>
                                    <input type="text" id="lastName" class="form-control" placeholder="Lim">

                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Gender</label>
                                    <select class="form-control">
                                        <option value="">Male</option>
                                        <option value="">Female</option>
                                    </select>

                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Date of Birth</label>
                                    <input type="text" class="form-control" placeholder="dd/mm/yyyy">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->



                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>State</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Post Code</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Country</label>
                                    <select class="form-control">
                                        <option value=""></option>
                                        <option value="China">China</option>
                                        <option value="USA">USA</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>

</div>

