@using KyleTanczos.TestKyle.Web.Areas.Mpa.Controllers

@model Section

<div class="col-md-@Model.ResponsiveWidth no-padding onlyLeftPaddingImportant">
    <div class="portlet box blue-hoki">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>@Model.SectionName
                <a class="btn btn-default btn-xs" type="button" data-toggle="modal" href="#@Model.Dialog.DialogTargetId">New</a>            
            </div>

            <div class="tools">

                <a href="javascript:;" class="collapse"> </a>
            </div>
        </div>

        @Html.Partial("~/Areas/Mpa/Views/Controls/Dialog.cshtml", Model.Dialog )

        

        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="#" class="horizontal-form">
                <div class="form-body">

                    <div class="row">

                        @foreach (Ctrl control in Model.Controls)
                        {
                            @Html.Partial("~/Areas/Mpa/Views/Controls/" + control.ControlType + ".cshtml", control);
                        }

                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
</div>
