@using KyleTanczos.TestKyle.Web.Areas.Mpa.Controllers

@model Tab



<div id="@Model.TabTargetName"  class="row no-padding custom-tabs" style="display:none" >
    <div class="col-md-6 no-padding noPaddingImportant" >
        @foreach (Section section in Model.Sections)
        {
            if (section.Side == SectionSideEnum.left)
            {
                @Html.Partial("~/Areas/Mpa/Views/Controls/" + section.PartialTemplateName + ".cshtml", section);
            }
        }
    </div>
    <div class="col-md-6 no-padding noPaddingImportant">
        @foreach (Section section in Model.Sections)
        {
            if (section.Side == SectionSideEnum.right)
            {
                @Html.Partial("~/Areas/Mpa/Views/Controls/" + section.PartialTemplateName + ".cshtml", section);
            }
        }

    </div>
</div>



