@using KyleTanczos.TestKyle.Web.Areas.Mpa.Controllers

@model KyleTanczos.TestKyle.Web.Areas.Mpa.Controllers.Ctrl



@section MyTimePickerScript {
    <script type="text/javascript">

        //$.mask.definitions['H'] = "[0-2]";
        //$.mask.definitions['h'] = "[0-9]";
        //$.mask.definitions['M'] = "[0-5]";
        //$.mask.definitions['m'] = "[0-9]";


        //$(".time-control").mask("Hh:Mm");

        function SetTimeControl(thisControl)
        {
            alert("adsfdfa");

            var val = $(this).val();

            val = val.replace(":", "");

            var timeNumber = parseInt(val);

            var hours = Math.floor(timeNumber / 100);
            
            var minutes = timeNumber - (hour * 100); 

            alert("hours : " + hours);

            alert("minutes : " + minutes);
        }

    </script>
}

<div class="col-xs-@Model.ResponsiveWidth" style="margin-bottom:5px">
    <div class="form-group">
        <label class="control-label col-xs-6">@Model.DisplayName </label>
        <div class="col-xs-6">
            <input type="tel" onchange="SetTimeControl(this)" @Model.NgModel class="form-control time-control" style="min-width:50px" placeholder="@Model.PlaceHolder">
            @*id="@Model.ClientId"*@
            @*<input type="text"  /> onchange="$hidden = $(this).siblings('input'); $hidden.val($(this).val()).trigger('input');"*@
        </div>


    </div>
</div>



