@using Abp.Web.Mvc.Extensions
@using KyleTanczos.TestKyle.Authorization
@using KyleTanczos.TestKyle.Web.Navigation

<!DOCTYPE html>




<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>Upload Pcr</span> <small>Use this panel to upload your PCRs</small>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        
    </div>
</div>