@model List<KyleTanczos.TestKyle.Web.Areas.Mpa.Controllers.UploadReportsController.filesDTO>

@using Abp.Web.Mvc.Extensions
@using KyleTanczos.TestKyle.Authorization
@using KyleTanczos.TestKyle.Web.Navigation
@using KyleTanczos.TestKyle.Web.Areas.Mpa.Controllers

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<link type="text/css" href="~/libs/dropzone/dist/basic.css" rel="stylesheet" />
<link type="text/css" href="~/libs/dropzone/dist/dropzone.css" rel="stylesheet" />
<script type="text/javascript" src="~/libs/dropzone/dist/dropzone.js"></script>

<div class="page-bar">
    <h3>
        <span>Upload Pcr</span> <small>Use this panel to upload your PCRs</small>
    </h3>

</div>

<div class="row">

    <div id="actions" class="col-md-12">


        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-primary fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span>
        </span>
        @*<button type="submit" class="btn btn-primary start">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start upload</span>
            </button>*@
        <button type="reset" class="btn btn-warning cancel">
            <i class="glyphicon glyphicon-ban-circle"></i>
            <span>Cancel Uploads</span>
        </button>

        <span id="spacer" style="width:100px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

        <button id="confirmAllUploadsBtn" style="display:none" type="submit" class="btn btn-success start">
            <i class="glyphicon glyphicon-upload"></i>
            <span> Confirm / Finish </span>
        </button>


    </div>





    <div id="hideTemplateOnLoad" style="display:none">
        <div id="template" class="file-row">
            <!-- This is used as the file preview template -->
            <div>
                <span class="preview"><img data-dz-thumbnail /></span>
            </div>
            <div>
                <p class="name" data-dz-name></p> <div class="fileInfo" style="font-weight:bold"></div>
                <strong style="display:none" class="error text-danger" data-dz-errormessage></strong>
            </div>
            <div>
                <p class="size" data-dz-size></p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                    <div class="progress-bar progress-bar-info" style="width:0%;" data-dz-uploadprogress><span class="progressBarText">0%</span></div>
                </div>
            </div>
            <div>
                @*<button class="btn btn-primary start">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start</span>
                    </button>*@
                @*<button data-dz-remove class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel</span>
                    </button>*@
                <button data-dz-remove class="btn btn-danger delete">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Remove</span>
                </button>
            </div>
        </div>
    </div>




    <div class="col-md-12 table table-striped files" id="previews">


    </div>


    <table>
        <tr>
            <td>FileName</td>

            <td>ByteCount</td>
        </tr>

        @foreach (UploadReportsController.filesDTO file in Model)
        {
            <tr>
                <td>@file.fileName</td>
               
                <td>@file.byteCount</td>
            </tr>
        }
    </table>





    @section scripts {
        <script type="text/javascript">

            $(document).ready(function () {



                var previewNode = document.querySelector("#template");
                previewNode.id = "";
                var previewTemplate = previewNode.parentNode.innerHTML;
                previewNode.parentNode.removeChild(previewNode);

                var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
                    url: "/mpa/UploadReports/SaveDropzoneJsUploadedFiles", // Set the url
                    thumbnailWidth: 80,
                    thumbnailHeight: 80,
                    previewTemplate: previewTemplate,
                    autoQueue: true, // Make sure the files aren't queued until manually added
                    previewsContainer: "#previews", // Define the container to display the previews
                    clickable: ".fileinput-button",  // Define the element that should be used as click trigger to select files.
                    parallelUploads: 1,
                    uploadMultiple: false
                });

                myDropzone.on("success", function (file, responseText) {

                    var count = responseText.result.message.count;

                    var max = responseText.result.message.max;

                    var min = responseText.result.message.min;

                    //set info for display

                    $("p:contains('" + file.name + "')").parent().find(".fileInfo").html("trips: " + count + " ( " + min + " - " + max + " ) ");

                    // change color to green
                    $("p:contains('" + file.name + "')").parent().parent().find("[data-dz-uploadprogress]").removeClass("progress-bar-info");
                    $("p:contains('" + file.name + "')").parent().parent().find("[data-dz-uploadprogress]").addClass("progress-bar-success");
                    //alert(JSON.stringify(responseText));

                    $("p:contains('" + file.name + "')").parent().parent().find(".progressBarText").html("100%");

                });

                myDropzone.on("error", function (file, responseText) {

                    alert(JSON.stringify(file.JSON));
                    alert(JSON.stringify(file.responseText));
                    alert(JSON.stringify(file.result));
                    $("p:contains('" + file.name + "')").parent().find("div").html("ERROR in upload!");

                    $("p:contains('" + file.name + "')").parent().parent().find("[data-dz-uploadprogress]").removeClass("progress-bar-info");
                    $("p:contains('" + file.name + "')").parent().parent().find("[data-dz-uploadprogress]").addClass("progress-bar-danger");

                });


                myDropzone.on("removedfile", function (file) {

                    ShowHideFinishBtn();

                    // Hookup the start button
                    //file.previewElement.querySelector(".start").onclick = function () { myDropzone.enqueueFile(file); };
                });

                myDropzone.on("addedfile", function (file) {

                    $("p:contains('" + file.name + "')").parent().find("div").html("Uploading PCR Data ...");

                    // Hookup the start button
                    //file.previewElement.querySelector(".start").onclick = function () { myDropzone.enqueueFile(file); };
                });


                myDropzone.on("uploadprogress", function (file, progress) {
                    $("p:contains('" + file.name + "')").parent().parent().find(".progressBarText").html("" + parseInt(progress, 10) + "%");
                });
                //// Update the total progress bar
                //myDropzone.on("totaluploadprogress", function (progress) {
                //    document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
                //});

                //myDropzone.on("sending", function (file) {
                //    // Show the total progress bar when upload starts
                //    document.querySelector("#total-progress").style.opacity = "1";
                //    // And disable the start button
                //    file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");
                //});

                function AllFilesValid() {
                    for (i = 0 ; i < myDropzone.files.length; i++) {
                        if (myDropzone.files[i].status != "success")
                            return false;
                    }
                    return true;
                }
                function ShowHideFinishBtn() {
                    if (AllFilesValid() && myDropzone.files.length > 0)
                        $('#confirmAllUploadsBtn').show();
                    else
                        $('#confirmAllUploadsBtn').hide();
                }

                //// Hide the total progress bar when nothing's uploading anymore
                myDropzone.on("queuecomplete", function (progress) {
                    ShowHideFinishBtn();
                });

                // Setup the buttons for all transfers
                // The "add files" button doesn't need to be setup because the config
                // `clickable` has already been specified.


                document.querySelector("#confirmAllUploadsBtn").onclick = function () {
                    bootbox.alert('Files are submitted, you are now being redirected to upload history...');

                };

                document.querySelector("#actions .cancel").onclick = function () {

                    if (myDropzone.files.length == 0)
                        bootbox.alert('Would you like to return back to upload history page?');

                    myDropzone.removeAllFiles(true);
                };


            });
        </script>
    }




</div>