@using KyleTanczos.TestKyle.Web.Areas.Mpa.Controllers

@model KyleTanczos.TestKyle.Web.Areas.Mpa.Controllers.Ctrl

<div class="col-xs-@Model.NgWidth" style="margin-bottom:5px">
    <div class="form-group">
        <label class="control-label col-xs-5">@Model.DisplayName </label>
        <div class="col-xs-7">
            <input type="tel" id="@Model.ClientId" class="form-control time-control" style="min-width:50px" placeholder="@Model.PlaceHolder">
        </div>
        

    </div>
</div>



