@using KyleTanczos.TestKyle.Web.Areas.Mpa.Controllers


@model KyleTanczos.TestKyle.Web.Areas.Mpa.Controllers.Ctrl


<div class="col-xs-@Model.ResponsiveWidth minimalPaddingImportant">
    <div class="form-group">
        <label for="span_small" class="control-label">@Model.DisplayName </label>

        <select id="span_small" class="select2Default form-control">

            <option value="">@Model.PlaceHolder</option>

            @foreach (var option in Model.DropDownOptions)
            {
                <option value="@option.id">@option.text</option>
            }
        </select>

    </div>

</div>