@using KyleTanczos.TestKyle.Web.Areas.Mpa.Controllers

@model Tab

<div class="row no-padding" TabTarget="">
    <div class="col-md-6 no-padding noPaddingImportant">
        @foreach (Section section in Model.Sections)
        {
            if (section.side == SectionSideEnum.left)
            {
                @Html.Partial("Controls/Section", section);
            }
        }
    </div>
    <div class="col-md-6 no-padding noPaddingImportant">
        @foreach (Section section in Model.Sections)
        {
            if (section.side == SectionSideEnum.right)
            {
                @Html.Partial("Controls/Section", section);
            }
        }

    </div>
</div>



