@using KyleTanczos.TestKyle.Web.Areas.Mpa.Controllers

@model KyleTanczos.TestKyle.Web.Areas.Mpa.Controllers.TableListView

<table class="col-xs-12 table table-hover">

    <tr ng-repeat="item in pcr.@(Model.ngListName)">

        <td>
            <a href="javascript:;" ng-click="LoadItemModal($index, '@(Model.ngListName)', '@(Model.NgFormName)')" class="btn btn-icon-only default">
                <i class="fa fa-edit"></i>
            </a>
        </td>

        @foreach (string fieldName in Model.ngFieldNames)
        {
            <td>{{item.@(fieldName)}}</td>
        }

        <td>
            <a href="javascript:;" ng-click="RemoveItem($index, '@(Model.NgFormName)')" class="btn btn-icon-only default">
                <i class="fa fa-times"></i>
            </a>
        </td>

        @*</a>
        <td ><button>Load</button></td>
        <td><button >Delete</button></td>*@
    </tr>

</table>
