@using KyleTanczos.TestKyle.Web.Areas.Mpa.Controllers

@model KyleTanczos.TestKyle.Web.Areas.Mpa.Controllers.Ctrl

<div class="col-xs-@Model.ResponsiveWidth minimalPaddingImportant">
    <div class="form-group">
        <label class="control-label">@Model.DisplayName </label>
        <input type="text" id="@Model.ClientId" class="form-control" placeholder="@Model.PlaceHolder">

    </div>
</div>


